<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Edit Video</title>
</head>
<body class="p-4 mb-2 bg-dark text-white">
    <form class="row g-3" action="/edit_video/{{video.id}}/update" method="post">
        {% csrf_token %}
        <label class="form-label" for="title">Title</label>
        <input name="title" class="form-control" type="text" placeholder="{{video.title}}">
        <label class="form-label" for="details">Details</label>
        <input name="details" class="form-control" type="text" placeholder="{{video.details}}">
        <button class="btn btn-light" type="submit">Update</button>
    </form>
</body>
</html>